@import '../../../../../stylesheets/variables';

table {
    width: 100%;

    td,
    th {
        width: calc(1/5 * 100%);
        text-align: center;
    }

    div.flex {
        align-items: baseline;
        justify-content: space-around;
        width: 100%;

        div {
            display: flex;

            &:first-child {
                flex: 1;
            }

            &:nth-child(2) {
                flex: 3;
                text-align: left;
            }
        }

        button {
            &.left {
                i {
                    padding-left: 5px;
                }
            }

            i {
                &::before {
                    font-size: 18px;
                }
            }
        }
    }
}