:host {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

img {
    flex: 1;
    max-width: 40%;
}

.message-box {
    flex: 1;
    max-width: 40%;
    font-family: Roboto;
    font-weight: 300;

    p,
    h1 {
        color: black;
    }

    h1 {
        font-size: 60px;
        line-height: 46px;
        margin-bottom: 40px;
    }
}

div.actions {
    margin-top: 20px;
    display: flex;

    a {
        background: #010101;
        text-decoration: none;
        color: white;
        padding: 8px;
        border-radius: 4px;
        font-weight: 600;
        border: yellow 2px solid;

        &:first-child {
            margin-right: 10px;
        }
    }
}

@media (max-width: 500px) {
    img {
        position: absolute;
        max-width: 100%;
        left: 0;
        bottom: 25%;
        z-index: 2;
    }

    .message-box {
        max-width: 100% !important;
        left: unset !important;
        text-align: center;
        z-index: 3;
    }

    div.actions {
        justify-content: center;
    }
}