<mat-accordion>
    <mat-expansion-panel *ngFor="let apartment of apartments; trackBy:track">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div>
                    <button mat-icon-button class="flat-icon-button" aria-label="Example icon-button with a heart icon"
                        (click)="deleteApartment($event, apartment)">
                        <i class="flaticon-close"></i>
                    </button>
                    <button mat-icon-button class="flat-icon-button" aria-label="Example icon-button with a heart icon"
                        (click)="openDialog($event, apartment)">
                        <i class="flaticon-pencil"></i>
                    </button>
                </div>
                <span class="title">
                    Обява №{{apartment.key}}
                </span>
            </mat-panel-title>
            <mat-panel-description>
                {{apartment.address}}, {{apartment.city}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <h4>
            Имот
        </h4>
        <div class="information flex">
            <div class="characters">
                <div class="flex">
                    <div>
                        Цена:
                    </div>
                    <div>
                        {{ apartment.price | number:'1.0-0'}} <span
                            class="currency">{{apartment.getCurrency().name}}</span>
                    </div>
                </div>
                <div class="flex">
                    <div>
                        Цена за м2:
                    </div>
                    <div>
                        {{apartment.m2price | number:'1.0-0'}} <span
                            class="currency">{{apartment.getCurrency().name}}</span>
                    </div>
                </div>
                <div class="flex">
                    <div>
                        Квадратура /м2/{{apartment.getCurrency().nameBG}}:
                    </div>
                    <div>
                        {{apartment.quadrature}}
                    </div>
                </div>
                <div class="flex">
                    <div>
                        Тип имот:
                    </div>
                    <div>
                        {{apartment.type}}
                    </div>
                </div>
                <div class="flex">
                    <div>
                        Адрес:
                    </div>
                    <div>
                        {{apartment.address}}, {{apartment.city}}
                    </div>
                </div>
                <div class="flex">
                    <div>
                        Етаж:
                    </div>
                    <div>
                        {{apartment.floor}}
                    </div>
                </div>
                <div class="flex">
                    <div>
                        Строителство:
                    </div>
                    <div>
                        {{apartment.construction}}
                    </div>
                </div>
                <div class="flex">
                    <div>
                        Година на строутелство:
                    </div>
                    <div>
                        {{apartment.year}}
                    </div>
                </div>
                <div class="flex">
                    <div>
                        Акт 16:
                    </div>
                    <div>
                        {{apartment.act16 ? 'Да' : 'Не'}}
                    </div>
                </div>
            </div>
            <div class="date">
                <div>
                    <h3>
                        Номер на обява:
                    </h3>
                    <p>№{{apartment.key}}</p>
                </div>
                <div>
                    <h3>
                        Публикувана на:
                    </h3>
                    <p>{{ apartment.createdAt | date:'dd.LL.yyyy' }}</p>
                </div>
            </div>
        </div>

        <h4>
            Собственик
        </h4>
        <div class="information flex">
            <div class="characters">
                <div class="flex">
                    <div>
                        Име:
                    </div>
                    <div>
                        {{ apartment.ownerName }}
                    </div>
                </div>
                <div class="flex">
                    <div>
                        Телефон:
                    </div>
                    <div>
                        {{ apartment.ownerPhone }}
                    </div>
                </div>
                <div class="flex">
                    <div>
                        Имейл:
                    </div>
                    <div>
                        {{ apartment.ownerEmail }}
                    </div>
                </div>
            </div>
            <div class="date center">
            </div>
        </div>

        <h4>
            Брокер
        </h4>
        <div class="information flex">
            <div class="characters">
                <div class="flex">
                    <div>
                        Име:
                    </div>
                    <div>
                        {{ apartment.user.firstname }} {{ apartment.user.lastname }}
                    </div>
                </div>
                <div class="flex">
                    <div>
                        Имейл:
                    </div>
                    <div>
                        {{ apartment.user.email }}
                    </div>
                </div>
                <div class="flex">
                    <div>
                        Телефон:
                    </div>
                    <div>
                        {{ apartment.user.phone }}
                    </div>
                </div>
            </div>
            <div class="date center">
                <a matRipple (click)="openGallery(apartment)">
                    <img src="/assets/images/photos.png" alt="gallery"/>
                </a>
            </div>
        </div>

    </mat-expansion-panel>
</mat-accordion>
<div class="right">
    <button mat-button (click)="onLoadMore()" *ngIf="!loaded">
        Зреди още...
    </button>
</div>
<button mat-mini-fab class="fixed-button flat-icon-button" color="primary" (click)="openDialog($event)">
    <i class="flaticon-add"></i>
</button>