@import '../../../../../stylesheets/variables';

form {
    flex-direction: column;
    max-width: 700px;
    margin: 45px auto 0;

    div.form {
        margin-bottom: 30px;
        flex-direction: column;
        flex: 1;

        div.price {
            justify-content: space-between;
            align-items: center;

            mat-form-field {
                width: 150px;
            }
        }
    }

    div.apartment-gallery {
        flex: 1;
        position: relative;
        flex-wrap: wrap;

        a.add-photo {
            cursor: pointer;
            top: 35%;
            left: 25%;
            transition: ease 400ms;
            position: absolute;
            text-align: center;

            &.uploaded {
                top: 0;
                left: 0;
                position: relative;
                display: inline-flex;

                img {
                    width: 114px;
                    height: 114px;
                }
            }
        }

        a.photo {
            padding-bottom: 20px;
            cursor: pointer;
            display: inline-flex;
            position: relative;

            a.delete {
                width: 28px !important;
                height: 28px !important;
                line-height: 27px !important;
                position: absolute;
                top: 0;
                right: 0;
                border-radius: 50%;
                background: rgba(255, 255, 255, 0.5);

                i {
                    &::before {
                        font-size: 12px;
                    }
                }
            }

            img {
                width: 100px;
                height: 100px;
                object-fit: contain;
                border: solid 2px rgba(0, 0, 0, 0);
                margin: 5px;

                &.cover {
                    border-color: black;
                }
            }
        }
    }
}

a.close {
    width: 48px !important;
    height: 48px !important;
    line-height: 56px !important;
    position: absolute;
    top: 0;
    right: 0;
}