@import '../../../../stylesheets/variables';


div.item {
  flex: 0 0 auto;
  width: 250px;
  height: 255px;
  text-align: left;
  cursor: pointer;
  border-radius: 8px;
  //overflow: hidden;
  position: relative;
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.15);
  background-color: $white;

  .item-content {
    overflow: hidden;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .short-description {
    position: absolute;
    bottom: calc(100% + 12px);
    background-color: white;
    padding: 8px;
    border-radius: 6px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: none;
  }

  &:hover {
    .short-description {
      display: flex;
    }
  }

  &:not(:first-child) {
    margin-left: 20px;
  }

  img {
    border-radius: 2px;
  }

  img, a {
    user-select: none;
    -webkit-user-drag: none;
  }

  a {
    color: black;
    text-decoration: none;
  }

  div.information {
    width: 100%;
    position: absolute;
    background-color: $yellow;
    bottom: 0px;
    padding: 12px;
    height: 56px;
    //top: -20px;

    &.person {
      div {
        text-align: right;
        flex: 1;

        h3 {
          margin: 0;
          font-weight: 300;
        }
      }
    }

    div:first-child {
      font-size: 12px;
      font-weight: 600;
      flex: 1;
      align-items: center;
      display: flex;
      justify-content: flex-start;
      max-width: calc(100% - 50px);
      overflow: hidden;
      text-overflow: ellipsis;

      h3 {
        margin: 0;
        font-weight: bold;
        font-size: 12px;
        color: $white;
      }
    }

    div:nth-child(2) {
      //flex: 1;
      align-items: center;
      display: flex;
      justify-content: flex-end;
      width: 50px;

      span {
        margin: 0;
        font-weight: 900;
        font-size: 20px;
        color: $white;
      }

    }
  }

  .online {
    background-color: #0069FF !important;
  }
}

div.plus-one {
  position: absolute;
  top: 15px;
  right: 15px;
  align-items: center;

  span {
    font-size: 12px;
    background: #ffd145;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: absolute;
    top: -5px;
    right: -12px;
  }

  img {
    object-fit: contain;
  }
}

.hover-info {
  display: none;
}
div.item {
  &:hover {
    .hover-info {
      display: block;
      background-color: $white;
      position: absolute;
      bottom: calc(100% + 12px);
      width: 460px;
      padding: 12px;
    }
  }
}

@media (max-width: 820px) {
  div.item {
    width: 240px;
    height: 230px;
  }
}

@media (max-width: 550px) {
  div.item {
    div.information {
      max-width: 275px !important;

      div:first-child {
        font-size: 14px !important;
      }

      div:nth-child(2) {
        h4 {
          font-size: 14px !important;
        }
      }
    }

  }

  div.plus-one {
    right: calc((100% - 275px) / 2) !important;
  }

}
