@import '../../../../stylesheets/variables';

div.container {

    h2 {
        margin-bottom: 12px;
    }

    div.heading, div.headingm {
        padding-left: 0px !important;
        font-size: 18px;
        font-weight: 800;
        font-style: italic;
    }

    div.headingm{
        display: none;
    }

    div.headingm{
        flex-direction: column;
        margin-top: 18px;
    }

    .introm {
        display: none;
    }

    .last {
        font-weight: 700;
    }

    div.team {
        flex-wrap: wrap;
    }

    div.image {
        width: 220px;
        height: 220px;
        border: #ffd145 5px solid;
        border-radius: 50%;
        padding: -2px;

        img {
            width: 100%;
            height: 100%;
        }
    }


    div.about-us {
        margin: 40px 0;

        // div {
        //     &:first-child {
        //         flex: 1;
        //     }

        //     &:nth-child(2) {
        //         flex: 1.5;
        //         padding-left: 20px;
        //         padding-top: 35px;

        //         h2 {
        //             left: -80px;
        //         }

        //         p {
        //             margin: 10px 0;
        //             font-size: 14px;
        //         }
        //     }


        // }

        p.title {
            font-weight: 600;
            font-size: 18px;
        }
    }

    .media {
        margin-top: 25px;
    }

    .mediabody {
        margin-top: 20px;
        width: 100%;
        max-width: 300px;
        min-width: 200px;
        padding-top: 0px !important;
        flex: 1 0 21%;

        .padding {
            padding: 45px;
        }

        .padding-small {
            padding: 35px;
        }

        span {
            margin-top: 12px;
            display: block;
        }

        .date {
            color: #484848;
        }

        a {
            text-decoration: none;
            font-family: "Muller";
            color: #000;
        }
    }
}

div.block {
    height: 60px;
    width: 100%;
    background: $yellow;
}

.wrap {
    flex-wrap: wrap;
}

@media (max-width: 970px) {
    div.container {
        padding: 12px;

        div.heading {
            display: grid;
            font-size: 15px;
            margin-bottom: 10px;
            padding-left: 10px !important;
            float: left;
            width: 170px;
        }

        .intro {
            display: none;
        }

        .introm {
            display: flex !important;
        }
    }

    div.image {
        width: 165px !important;
        height: 165px !important;
        margin-right: 10px;
    }

    .mediabody {
        margin-top: 20px;
        width: 255px !important;
    }

}

@media (max-width: 600px) {
    .mediabody {
        margin: 12px auto;
    }

    div.team {
        width: 100%;
    }

    div.image {
        margin: 8px auto;
    }

    div.heading{
        display: none !important;
    }

    div.headingm{
        display: flex !important;
    }

}

@media (max-width: 370px) {
    div.container {
        padding: 12px;

        div.heading {
            display: grid;
            font-size: 15px;
            margin-bottom: 10px;
            padding-left: 10px !important;
            float: left;
            width: 170px;
        }

        .intro {
            display: none;
        }

        .introm {
            display: flex !important;
        }
    }

    div.image {
        width: 150px !important;
        height: 150px !important;
    }

    .mediabody {
        margin-top: 20px;
        width: 255px !important;
    }

}