<div class="container">
  <div class="login-form">
    <h2 class="center login-title">Вход</h2>
    <p class="helper-text center">
      Всеки притежател на валидна карта ЗНАНИЕ+ има свой потребителски профил. За да влезеш в него, просто въведи email и баркода от гърба на картата.
    </p>

    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field color="primary">
        <input
          #inputBillOfLanding
          matInput
          placeholder="Email"
          formControlName="email"
          autocomplete="off"
          type="email"
        >
        <button
          class="image-button"
          aria-label="Clear"
          (click)="clearMail()"
          matRipple
          type="button"
          matSuffix
        >
          <img
            decoding="async"
            loading="lazy"
            class="flex contain"
            src="/assets/images/clear.svg"
            width="18px"
            height="18px"
          />
        </button>
      </mat-form-field>

      <mat-form-field color="primary">
        <input
          #inputBillOfLanding
          matInput
          placeholder="Номер на карта"
          formControlName="card"
          autocomplete="off"
        >

        <button
          class="image-button"
          aria-label="Clear"
          (click)="clearCard()"
          matRipple
          type="button"
          matSuffix
        >
          <img
            decoding="async"
            loading="lazy"
            class="flex contain"
            src="/assets/images/clear.svg"
            width="18px"
            height="18px"
          />
        </button>
      </mat-form-field>
      <button
        mat-raised-button
        type="submit"
      >Потвърждаване
      </button>
      <ng-container *ngIf="submited">
        <div
          id="invalid"
          *ngIf="!active"
        >
          Грешен email или невалидна карта
        </div>
      </ng-container>
    </form>
  </div>
</div>

<footer-component></footer-component>
