@import '../../../stylesheets/variables';

div.router.member {
    flex: 1;

    >router-outlet+* {
        flex: 1;
        padding: + 84px 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: env(safe-area-inset-top);

    }
}

a.offer {
    cursor: pointer;
    position: fixed;
    bottom: -80px;
    right: 25px;
    padding: 8px;
    background-color: $yellow;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    animation: offer-animation 800ms ease forwards;

    img {
        object-fit: contain;
    }
}

@media (max-width: 800px) {
    div.router.member {
        >router-outlet+* {
            padding: 56px 0 0 0 !important;
            overflow-x: auto;
        }
    }

    a.offer {
        width: 68px;
        height: 68px;
    }
}

@keyframes offer-animation {
    0% {
        bottom: -80px
    }

    50% {
        bottom: 50px;
    }

    100% {
        bottom: 25px;
    }
}

.info-window-content {
    padding: 12px;
    padding-bottom: 24px;
    padding-top: 0px;

    .info-window-name {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 8px;
    }

    .info-window-image {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 86px;
            height: 86px;
        }
    }

    .info-window-address {
        a {
            text-decoration: none;
            color: $rights_background;
            font-size: 16px;
            font-weight: 500;
        }
    }

    .info-actions-container {
        display: flex;
        flex-direction: column;
        padding-top: 12px;
        a {
            text-decoration: none;
            color: $rights_background;
            font-size: 16px;
            font-weight: 500;
        }

        .info-window-phone {
            flex: 1;
        }
        .info-window-website {
            flex: 1;
        }
    }
}

.info-window-see-more-container {
    display: flex;
    margin-top: 12px;
    align-items: center;
    justify-content: center;
    .info-window-see-more-button {
        background-color: $title-black;
        color: $white;
        padding: 12px 24px;
        border-radius: 8px;
        font-size: 18px;
        font-weight: bold;
        &:hover {
            opacity: 0.9;
            cursor: pointer;
        }
        a {
            text-decoration: none;
            color: $white;
        }
    }
}

.gm-style-iw-ch {
    display: none !important;
}


[role='dialog'] {
    .gm-style-iw-chr {
        padding-top: 12px !important;
        button[aria-label='Close'] {
            position: absolute !important;
            right: 0 !important;
            top: 0 !important;
        }
    }
}

@media (max-width: 800px) {

    .info-window-image {
        display: none !important;
    }

    .info-window-see-more-container {
        display: flex;
        margin-top: 12px;
        align-items: center;
        justify-content: center;
        .info-window-see-more-button {
            background-color: $title-black;
            color: $white;
            padding: 8px 12px;
            border-radius: 8px;
            font-size: 14px;
            font-weight: bold;
            &:hover {
                opacity: 0.9;
                cursor: pointer;
            }
            a {
                text-decoration: none;
                color: $white;
            }
        }
    }
}


