@import '../../../../stylesheets/variables';

div.gray {
    background-color: #f3f3f3;

    div.contacts {
        padding-top: 60px;
        
        p.intro {
            font-size: 16px;
            padding: 10px;
        }

        div.form {
            margin-top: 40px;

            div {
                flex: 1;
            }

            div.margin{
                margin-top: 18px;
            }

            div.right {
                padding-right: 20px;
            }

            h3 {
                margin: 0;
            }

            p {
                font-size: 14px;
                margin: 0;

                &.margin {
                    margin: 10px 0;
                }
            }

            label {
                position: absolute;
                color: black;
                top: -18px;
                font-size: 14px;
            }

            textarea {
                max-width: 300px;
                width: 100%;
                font-size: 14px;
                background-color: transparent;
                padding: 5px 15px 0 15px;
                height: 100px;
                color: #5a5a5a;
                border: solid 3px $yellow;
                box-sizing: border-box;
                border-radius: 2px;
                margin-bottom: 15px;
                resize: none;

                &::placeholder {
                    color: #5a5a5a;
                    opacity: 0.6;
                    font-size: 14px;
                }

                &:-ms-input-placeholder {
                    color: #5a5a5a;
                    opacity: 0.6;
                    font-size: 14px;
                }

                &::-ms-input-placeholder {
                    color: #5a5a5a;
                    opacity: 0.6;
                    font-size: 14px;
                }

                &:focus {
                    outline: none;
                }
            }

            input[type=text] {
                max-width: 300px;
                width: 100%;
                font-size: 14px;
                background-color: transparent;
                padding: 0px 15px 0 15px;
                height: 42px;
                color: #5a5a5a;
                border: solid 3px $yellow;
                box-sizing: border-box;
                border-radius: 2px;
                margin-bottom: 15px;

                &::placeholder {
                    color: #5a5a5a;
                    opacity: 0.6;
                    font-size: 14px;
                }

                &:-ms-input-placeholder {
                    color: #5a5a5a;
                    opacity: 0.6;
                    font-size: 14px;
                }

                &::-ms-input-placeholder {
                    color: #5a5a5a;
                    opacity: 0.6;
                    font-size: 14px;
                }

                &:focus {
                    outline: none;
                }
            }
        }
    }
}

@media (max-width: 970px) {
    div.contacts {

        input,
        textarea {
            max-width: 270px !important;
        }
    }
}

@media (max-width: 870px) {
    div.contacts {

        input,
        textarea {
            max-width: 230px !important;
        }
    }
}

@media (max-width: 700px) {
    div.contacts {

        div.form {
            flex-direction: column;
            padding: 0 10px;

            div.right {
                padding: 0 !important;
            }

            input,
            textarea {
                max-width: 100% !important;
            }

            div.contact {
                text-align: center;
            }
        }
    }
}