@import '../../../../stylesheets/variables';

div.gray {
    background-color: #f3f3f3;
    padding-bottom: 25px;

    div.contacts {
        padding-top: 60px;

        p.intro {
            font-size: 16px;
            padding: 10px;
            text-align: center;
            font-weight: 400;
            margin-bottom: 0px;
        }

        p.contacts-info-details {
            margin: 0;
            a {
                text-decoration: none;
                color: $title-black;
            }
        }

        div.form {
            margin-top: 40px;
            display: flex;
            justify-content: center;
            gap: 16px;

            div {
                //flex: 1;
            }

            div.margin {
                margin-top: 18px;
            }

            div.right {
                padding-right: 20px;
            }

            h3 {
                margin: 0;
            }

            p,
            a {
                font-size: 14px;
                margin: 0;

                &.margin {
                    margin: 10px 0;
                }
            }

            a {

                font-size: 13px;
            }

            label.checkbox {
                color: black;
                font-size: 14px;
                max-width: 520px;
            }

            label.input {
                position: absolute;
                color: black;
                top: -18px;
                font-size: 14px;
            }

            div.checkbox {
                margin-bottom: 12px;
            }

            textarea {
                max-width: 520px;
                width: 100%;
                font-size: 14px;
                background-color: transparent;
                padding: 12px 16px;
                height: 130px;
                color: #5a5a5a;
                border: solid 1px $border-color;
                box-sizing: border-box;
                border-radius: 4px;
                margin-bottom: 32px;
                resize: none;

                &::placeholder {
                    color: #5a5a5a;
                    opacity: 0.6;
                    font-size: 14px;
                }

                &:-ms-input-placeholder {
                    color: #5a5a5a;
                    opacity: 0.6;
                    font-size: 14px;
                }

                &::-ms-input-placeholder {
                    color: #5a5a5a;
                    opacity: 0.6;
                    font-size: 14px;
                }

                &:focus {
                    outline: none;
                }
            }

            input {
                width: 300px;
                font-size: 14px;
                background-color: transparent;
                padding: 12px 16px;
                height: 48px;
                color: #5a5a5a;
                border: solid 1px $border-color;
                box-sizing: border-box;
                border-radius: 4px;
                margin-bottom: 32px;

                &::placeholder {
                    color: #5a5a5a;
                    opacity: 0.6;
                    font-size: 14px;
                }

                &:-ms-input-placeholder {
                    color: #5a5a5a;
                    opacity: 0.6;
                    font-size: 14px;
                }

                &::-ms-input-placeholder {
                    color: #5a5a5a;
                    opacity: 0.6;
                    font-size: 14px;
                }

                &:focus {
                    outline: none;
                }
            }

            .agreed {
                width: 20px;
                height: 20px;
                margin-right: 10px;
                margin-bottom: 25px;
                margin-top: -2px;
            }


            button {
                width: 300px;
                font-size: 20px;
                font-weight: 800;
                border: none;
                &:hover {
                    cursor: pointer;
                }
            }
        }

        form.submitted {

            input.error,
            textarea.error {
                border-color: #dd2c00;
            }

            label.error {
                color: #dd2c00;
            }
        }
    }
}

@media (max-width: 700px) {
    div.contacts {

        div.form {
            flex-direction: column;
            padding: 0 10px;

            div.right {
                padding: 0 !important;
            }

            input,
            textarea {
                width: 100% !important;
                &.agreed {
                    width: 20px !important;
                    height: 20px;
                    margin-right: 10px;
                    margin-bottom: 25px;
                    margin-top: -2px;
                }
            }

            div.contact {
                margin-top: 24px;
                text-align: center;
            }

            button {
                max-width: unset !important;
                margin: 0 auto !important;
            }

            div:nth-child(2) {
                //display: flex;
                //flex-direction: column;
                //align-items: center;
            }
        }
    }
}
