<div class="drawer closed" #container>
    <div class="content small-scroll">
        <a class="image-button logo flex" routerLink="/" fragment="home"  (click)="toggle()">
            <img loading="lazy" decoding="async" width="125" height="22" class="title"
                src="/assets/images/logo-banner.png" alt="logo" />
        </a>
        <div class="navigation flex">
            <ul>
                <li>
                    <a routerLink="/profile" routerLinkActive="active activated" (click)="toggle();removeFragment()">
                        <span>
                            {{ userProvider.isLogedIn() ? 'Профил' : 'Вход' }}
                        </span>
                    </a>
                </li>
              <li *ngIf="!userProvider.isLogedIn()">
                <a routerLink="/register" routerLinkActive="active activated" (click)="toggle();removeFragment()">
                      <span>
                        Регистрация
                    </span>
                </a>
              </li>
                <li>
                    <a routerLink="/profile" routerLinkActive="active activated" (click)="toggle();removeFragment()">
                        <span>
                            Дигитална карта
                        </span>
                    </a>
                </li>
                <li  *ngIf="userProvider.user()?.isAdmin">
                    <a routerLink="/card" routerLinkActive="active activated" (click)="toggle();removeFragment()">
                        <span>
                            Провери карта
                        </span>
                    </a>
                </li>
                <li>
                    <a routerLink="/partners" routerLinkActive="active activated" (click)="toggle();removeFragment()">
                        <span>
                            Обекти
                        </span>
                    </a>
                </li>
                <li *ngIf="userProvider.isLogedIn()">
                    <a  routerLink="/petrol" routerLinkActive="active activated" (click)="toggle();removeFragment()">
                        <span>
                            Петрол
                        </span>
                    </a>
                </li>
                <li>
                    <a routerLink="/companies" routerLinkActive="active activated" (click)="toggle();removeFragment()">
                        <span>
                            Работодатели
                        </span>
                    </a>
                </li>
                <li>
                    <a routerLink="/" fragment="contacts" (click)="toggle()" routerLinkActive="activated"
                        [class.active]="activeRoute == 'contacts'">
                        <span>
                            Контакти
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="fixed-container" #fixed>

</div>
