<form [formGroup]="form" class="flex"  (ngSubmit)="onSubmit()">

  <mat-form-field>
    <input matInput type="password" placeholder="Текуща парола..." formControlName="currentPassword" autocomplete="off">
    <mat-error *ngIf="form.controls.currentPassword.hasError('minlength')">
      Минималната дължина е 6 символа !
    </mat-error>
    <mat-error *ngIf="form.controls.currentPassword.hasError('required')">
      Полето е задължително !
    </mat-error>
    <mat-error *ngIf="form.controls.currentPassword.hasError('maxlength')">
      Максималната дължина е 255 символа !
    </mat-error>
    <mat-error *ngFor="let error of errors.currentPassword">
      {{error}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Нова парола..." formControlName="password" autocomplete="off">
    <mat-error *ngIf="form.controls.password.hasError('minlength')">
      Минималната дължина е 6 символа !
    </mat-error>
    <mat-error *ngIf="form.controls.password.hasError('required')">
      Полето е задължително !
    </mat-error>
    <mat-error *ngIf="form.controls.password.hasError('maxlength')">
      Максималната дължина е 255 символа !
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Потвърди нова парола..." formControlName="passwordConfirm" autocomplete="off">
    <mat-error *ngIf="form.controls.passwordConfirm.hasError('minlength')">
      Минималната дължина е 6 символа !
    </mat-error>
    <mat-error *ngIf="form.controls.passwordConfirm.hasError('required')">
      Полето е задължително !
    </mat-error>
    <mat-error *ngIf="form.controls.passwordConfirm.hasError('maxlength')">
      Максималната дължина е 255 символа !
    </mat-error>
    <mat-error *ngIf="form.errors && form.errors.passwordMismatch">
      Паролите не съвпадат !
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="isSubmit">Потвърди</button>

</form>