@import '../../../../stylesheets/variables';

div.footer {
    background-color: $footer_background;
    color: white;

    div.container {
        &.information {
            padding: 40px 0;
            justify-content: space-around;

            div.logo {
                align-items: center;
                flex-flow: column;
                flex: 1;
                margin-top: -28px;
                div{
                    margin-top: -20px;

                    img{
                        margin-right: 10px;
                    }
                }
            }

            div.navigation {
                flex: 4;
                display: flex;
                gap: 60px;

                div {
                    flex-direction: column;
                    //flex: 1;
                    display: flex;

                    &.bordered {
                        ul {
                            margin: 0;
                            padding: 0;

                            li {
                                list-style: none;
                                margin: 12px 5px;

                                a {
                                    border-bottom: solid 2px $yellow_border;
                                    margin: 0 !important;
                                }
                            }
                        }

                    }

                    a.card-desktop {
                        display: inline-block;
                    }

                    a.card-mobile {
                        display: none;
                    }

                    a {
                        font-size: 16px;
                        margin: 10px 5px;
                        color: white;
                        text-decoration: none;

                        img {
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }

    div.rights {
        border-top: solid 1px rgba(255, 255, 255, 0.30);
        background-color: $rights_background;

        h4 {
            font-weight: 200;
            margin: 0;
            text-align: center;
            padding: 15px 0;
            font-size: 14px;
        }

        a {
            text-decoration: none;
            color: white;
        }
    }
}


@media (max-width: 800px) {

    div.footer div.container.information div.logo {
        align-items: flex-start;
        padding: 0px 40px;
    }

    div.footer div.container.information div.navigation {
        gap: 40px;
    }

    div.footer {

        div.logo {
            margin-bottom: 20px;
        }

        div.information,
        div.navigation {
            flex-direction: column;
            text-align: center;
        }

        div.navigation {
            padding: 0px 40px;
            width: 100% !important;
            .bordered {
                align-items: flex-start;
                li {
                    text-align: left;
                }
            }
        }

        div.rights {
            padding: 0 5px;
        }

        a.card-desktop {
            display: none !important;
        }

        a.card-mobile {
            display: inline !important;
        }
    }
}
