<div class="container">
<!--    <div class="banner flex">-->
<!--        <gallery-component [src]="api_url+'/storage/' + item.photo"></gallery-component>-->
<!--        <div class="frame">-->
<!--            <h4>-->
<!--                Знание плюс-->
<!--            </h4>-->
<!--        </div>-->
<!--    </div>-->
    <div class="description flex">
        <div>
            <h2 class="title">
                <span> {{item.name}}</span>
            </h2>
            <div [innerHTML]="item.description | safeHTML">
            </div>
        </div>
    </div>

    <div class="information flex">
        <div class="characters">
            <h3>
                Отстъпка: {{ item.promo}}{{item.promo_type}}
            </h3>
            <div class="flex">
                <div [innerHTML]="item.promo_description | safeHTML"> </div>
            </div>
        </div>
    </div>

    <div class="information flex" *ngIf="item.plus_one">
        <div class="characters">
            <h3 class="flex">
                <div
                class="plus-one"
            >
                <img
                    loading="lazy"
                    decoding="async"
                    src="/assets/images/4521868331556258219.svg"
                    width="30px"
                    height="30px"
                    alt="partner"
                />
                <span>
                    +1
                </span>
            </div>Сподели карта ЗНАНИЕ+
            </h3>
            <div class="flex">
                Този обект предоставя същата отстъпка, от която се ползва притежателят на картата, и на един негов
                придружител. Придружителят не се посочва предварително и може да бъде различен при всяко отделно
                посещение или закупуване на стоки.
            </div>
        </div>
    </div>

    <div class="information flex" *ngIf="item.activities.length > 0">
        <div class="characters">
            <h3>
                Допълнителни уточнения:
            </h3>
            <div class="flex" *ngFor="let activity of item.activities">
                <div>
                    {{activity.name}}
                </div>
                <div>
                    <b>{{activity.promotion}}{{activity.promo_type}}</b> {{activity.deskription}}
                </div>
            </div>
        </div>
    </div>

    <div class="information flex" *ngIf="item.week">
        <div class="characters">
            <h3  *ngIf="item.id == 56">
                Работно време на Билетната каса:
            </h3>
            <h3 *ngIf="item.id != 56">
                Работно време:
            </h3>
            <div class="flex">
                <div>
                    Делнични дни:
                </div>
                <div>
                    {{item.week}}
                </div>
            </div>
            <div class="flex">
                <div>
                    Събота:
                </div>
                <div>
                    {{item.sat}}
                </div>
            </div>
            <div class="flex">
                <div>
                    Неделя:
                </div>
                <div>
                    {{item.sun}}
                </div>
            </div>
        </div>
    </div>

    <div class="information flex">
        <div class="characters">
            <h3>
                Контакти:
            </h3>
            <div class="flex">
                <div>
                    Адрес:
                </div>
                <div>
                    <a href="https://www.google.com/maps/search/?api=1&query={{item.address}}, {{item.city}}" target="_blank">
                        {{item.address == null ? '' : item.address+', '}} {{item.city}}
                    </a>
                </div>
            </div>
            <div class="flex">
                <div>
                    Уебсайт:
                </div>
                <div>
                    <a href="{{item.website}}" target="_blank">{{item.website}}</a>
                </div>
            </div>
            <div class="flex" *ngIf="item.mail?.length > 0">
                <div>
                    Електронна поща:
                </div>
                <div>
                    <a href="mailto:{{item.mail}}">{{item.mail}}</a>
                </div>
            </div>
            <div class="flex">
                <div>
                    Телефон:
                </div>
                <div>
                    <a href="tel:{{item.phone}}">{{item.phone}}</a>
                </div>
            </div>
        </div>
    </div>

    <iframe *ngIf="locationUrl" id="gmap_canvas"
        [src]="locationUrl" frameborder="0" scrolling="no"
        marginheight="0" marginwidth="0">
    </iframe>
</div>
<contacts-component></contacts-component>
<footer-component></footer-component>
