<div class="container">
    <div class="banner flex">
        <gallery-component [src]="api_url+'/storage/' + item.photo"></gallery-component>
        <div class="frame">
            <h4>
                Знание плюс
            </h4>
        </div>
    </div>
    <div class="description flex">
        <div>
            <h2 class="title">
                <span> {{item.name}}</span>
            </h2>
            <div [innerHTML]="item.description | safeHTML">
            </div>
        </div>
    </div>

    <div class="information flex">
        <div class="characters">
            <h3>
                Отстъпка: {{ item.promo}}%
            </h3>
            <div class="flex">
                <div [innerHTML]="item.promo_description | safeHTML"> </div>
            </div>
        </div>
    </div>

    <div class="information flex" *ngIf="item.activities.length > 0">
        <div class="characters">
            <h3>
                Дейности:
            </h3>
            <div class="flex" *ngFor="let activity of item.activities">
                <div>
                    {{activity.name}}
                </div>
                <div>
                    <b>{{activity.promotion}}%</b> {{activity.deskription}}
                </div>
            </div>
        </div>
    </div>

    <div class="information flex" *ngIf="item.week">
        <div class="characters">
            <h3>
                Работно време:
            </h3>
            <div class="flex">
                <div>
                    Работни дни:
                </div>
                <div>
                    {{item.week}}
                </div>
            </div>
            <div class="flex">
                <div>
                    Събота:
                </div>
                <div>
                    {{item.sat}}
                </div>
            </div>
            <div class="flex">
                <div>
                    Неделя:
                </div>
                <div>
                    {{item.sun}}
                </div>
            </div>
        </div>
    </div>

    <div class="information flex">
        <div class="characters">
            <h3>
                Контакти:
            </h3>
            <div class="flex">
                <div>
                    Адрес:
                </div>
                <div>
                    {{item.address}}, {{item.city}}
                </div>
            </div>
            <div class="flex">
                <div>
                    Уебсайт:
                </div>
                <div>
                   <a href="{{item.website}}" target="_blank">{{item.website}}</a>
                </div>
            </div>
            <div class="flex">
                <div>
                    Електронна поща:
                </div>
                <div>
                    <a href="mailto:{{item.mail}}">{{item.mail}}</a>  
                </div>
            </div>
            <div class="flex">
                <div>
                    Телефон:
                </div>
                <div>
                    {{item.phone}}
                </div>
            </div>
        </div>
    </div>
</div>
<contacts-component></contacts-component>