<div class="container">
    <div class="title flex">
        <h2 class="title">
            <span>Нашите партньори</span>
        </h2>
        <mat-form-field color="accent">
            <mat-label>Филтрирай по</mat-label>
            <mat-select [(ngModel)]="filter" (selectionChange)="onSort()">
                <mat-option *ngFor="let item of filters | keyvalue" [value]="item.value.id">
                    {{item.value.type}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="list flex">
        <partner-component *ngFor="let partner of partners; trackBy:track" [partner]="partner">

        </partner-component>
        <h3 class="error" *ngIf="partners.length == 0">
            Няма намерени резултати, моля опитайте по-късно !
        </h3>
    </div>
    <div class="right">
        <a mat-button (click)="onLoadMore()" routerLink="/partners" [queryParams]="{page: page}" *ngIf="!loaded" aria-label="load more">
            Зaреди още...
        </a>
    </div>
</div>
<contacts-component></contacts-component>