<div class="container">
  <div class="flex flex-center section-title">
    <h2 class="title font">
      <span class="duotone-text small"><span>Обекти</span></span>
    </h2>
  </div>

  <div class="section-row">
    <div>
      <mat-checkbox id="onlinecheck"
                    [(ngModel)]="online"
                    (change)="onSort()">
        Онлайн обекти
      </mat-checkbox>
    </div>
    <div>
      <mat-form-field color="accent" appearance="outline">
        <mat-label>град</mat-label>
        <mat-select [(ngModel)]="city"
                    (selectionChange)="onSort()">
          <mat-option *ngFor="let item of cities | keyvalue"
                      [value]="item.value.id">
            {{ item.value.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field color="accent" appearance="outline">
        <mat-label>Филтрирай по</mat-label>
        <mat-select [(ngModel)]="filter"
                    (selectionChange)="onSort()">
          <mat-option *ngFor="let item of filters | keyvalue"
                      [value]="item.value.id">
            {{ item.value.type }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field color="accent" appearance="outline">
        <input
          matInput
          [(ngModel)]="filterText"
          placeholder="търси:"
          (keyup)="onFilter()"
        >
      </mat-form-field>
    </div>
  </div>
</div>

<div class="section light-gray-bg font section-padding">
  <div class="container">
  <div class="list flex">
    <partner-component *ngFor="let partner of filtered; trackBy:track"
                       [partner]="partner">

    </partner-component>
    <h3 class="error"
        *ngIf="partners.length == 0">
      Няма намерени резултати, моля опитайте по-късно !
    </h3>
  </div>
  <div class="right">
    <a class="load-more"
       mat-button
       (click)="onLoadMore()"
       *ngIf="!loaded"
       aria-label="load more">
      Зареди още...
    </a>
  </div>
  </div>
</div>
<contacts-component></contacts-component>
<footer-component></footer-component>
