<div class="container">
    <div class="title flex">
        <h2 class="title">
            <span>Нашите партньори</span>
        </h2>
        <mat-checkbox id="online" [(ngModel)]="online" (change)="onSort()">
            Онлайн обекти
        </mat-checkbox>
        <mat-form-field color="accent">
            <mat-label>Филтрирай по</mat-label>
            <mat-select
                [(ngModel)]="filter"
                (selectionChange)="onSort()"
            >
                <mat-option
                    *ngFor="let item of filters | keyvalue"
                    [value]="item.value.id"
                >
                    {{item.value.type}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="list flex">
        <partner-component
            *ngFor="let partner of partners; trackBy:track"
            [partner]="partner"
        >

        </partner-component>
        <h3
            class="error"
            *ngIf="partners.length == 0"
        >
            Няма намерени резултати, моля опитайте по-късно !
        </h3>
    </div>
    <div class="right">
        <a
            mat-button
            (click)="onLoadMore()"
            routerLink="/partners"
            [queryParams]="{page: page}"
            *ngIf="!loaded"
            aria-label="load more"
        >
            Зaреди още...
        </a>
    </div>
    <div class="information flex">
        <div class="characters">
            <div class="flex align-center">
                <div class="plus-one">
                    <img
                        loading="lazy"
                        decoding="async"
                        src="/assets/images/4521868331556258219.svg"
                        width="30px"
                        height="30px"
                        alt="partner"
                    />
                    <span>
                        +1
                    </span>
                </div>
                Партньорите, при които
                отстъпката важи и за придружител, са отбелязани със специален символ.
            </div>
        </div>
    </div>
</div>
<contacts-component></contacts-component>
<footer-component></footer-component>