@import '../../../../stylesheets/variables';


#map {
    width: 100%;
    height: 500px;
}

.location-check {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    img {
        width: 24px;
        height: 24px;
    }
    span {
        margin-left: 12px;
        font-size: 14px;
    }
    &:hover {
        cursor: pointer;
    }
}

.hide-on-all {
    display: none;
}

.hide-on-all-with-space {
    opacity: 0;
    pointer-events: none;
}

.cluster-content {
    width: 36px;
    height: 36px;
    background-color: $yellow;
    color: $white;
    font-size: 18px;
    font-weight: bold;
}

div.list {
    flex-wrap: wrap;

    h3.error {
        font-size: 20px;
        font-weight: 300;
        text-align: center;
        width: 100%;
    }

    //column-gap: 40px;
    row-gap: 20px;

    partner-component {
        width: calc(100% * (1/4));
        flex-grow: 1;
        max-width: 275px;
    }
}


div.container {

    .section-title {
        margin-top: 80px;
        margin-bottom: 40px;
    }


    .section-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 16px;

        div {
            flex: 1;
        }

        .mat-mdc-form-field {
            width: 100%;


            .mat-mdc-text-field-wrapper {
                background-color: transparent;
                border: 1px solid $border-color;
            }
        }
    }

    div.title {
        padding-top: 40px;
        align-items: center;
        justify-content: space-between;

        mat-form-field {
            max-width: 200px;
        }
    }

    .legend{
        width: 20px;
        height: 20px;
        background-color: #ffd145;
        display: inline-block;
        border-radius:20px;
        margin-bottom: -5px;
        margin-right:5px;
    }

    .online{
        background-color: #b3d4fc;
    }

    .load-more{
        font-weight: 700;
        text-align: center;
        background-color: #ffd145;
    }
}

div.information {
    justify-content: space-between;
    max-width: 1000px;
    margin: 20px 0;
    padding-left: 10px;
    border-left: solid 3px $yellow;

    div.characters {
        flex: 4;
        padding: 12px 8px;

        div {
            margin-bottom: 5px;
            align-items: center;

            div:first-child {
                flex: 1;
            }

            div:nth-child(2) {
                flex: 2;
            }
        }
    }

    div.date {
        flex: 1;

        h3 {
            margin: 0;
        }

        p {
            margin: 0 0 10px 0;
        }
    }
}

div.plus-one {
    align-items: center;
    margin-right: 21px;
    position: relative;
    display: flex;
    flex: unset !important;

    span {
        font-size: 12px;
        background: $yellow;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        position: absolute;
        top: -5px;
        right: -12px;
    }

    img {
        object-fit: contain;
    }
}

@media (max-width: 1100px) {
    partner-component {
        width: calc(100% * (1/3) - 10px) !important;
    }
    #onlinecheck, #locationcheck {
        margin-left: -10px !important;
        display: flex;
    }
    .legend{
        margin-left: 10px;
    }
}

@media (max-width: 900px) {
    div.list {
        partner-component {
            width: calc(100% * (1/3) - 10px) !important;
        }
    }

    #onlinecheck, #locationcheck {
        margin-left: -10px !important;
        display: flex;
    }
    .legend{
        margin-left: 10px;
    }


    div.container .section-title {
        margin: 20px 0px;
    }

    div.container .section-row {
        flex-direction: column;
        gap: 0px;
        div {
            width: 100%;
            padding: 0px 24px;
            &.location-check {
                padding: 0px;
            }
        }
    }


}

.info-window-content .info-window-see-more-container .info-window-see-more-button {
    background-color: #483490;
    color: #ffffff;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}


@media (max-width: 550px) {

    .hide-on-mobile {
        display: none;
    }

    .hide-on-all-with-space {
        display: none;
    }

    .location-check {
        img {
            width: 20px;
            height: 20px;
        }
    }

    div.title {
        padding: 10px;
    }

    mat-form-field {
        width: 100%;
        max-width: unset !important;
        margin-top: 15px;
    }

    div.list {
        justify-content: center !important;

        partner-component {
            width: calc(100% - 10px) !important;
            max-width: 375px !important;
        }
    }

    div.flex {
        display: block;
        &.section-title {
            display: flex;
        }

        &.list {
            display: flex;
            partner-component {
                max-width: 100% !important;
            }
        }
    }


    div.align-center{
        display: flex !important;
    }

    #onlinecheck, #locationcheck {
        margin-left: -10px !important;
        display: flex;
    }
    .legend{
        margin-left: 10px;
    }

    div.container .section-row {
        flex-direction: column;
        gap: 0px;
        div {
            width: 100%;
            padding: 0px 24px;
            &.location-check {
                padding: 0px;
            }
        }
    }


    //.info-window-content .info-window-see-more-container .info-window-see-more-button {
    //    background-color: #483490;
    //    color: #ffffff;
    //    padding: 8px 12px;
    //    border-radius: 8px;
    //    font-size: 14px;
    //    font-weight: bold;
    //}
}
