// $important_color: #4b8fe2;

// // Toolbar
$toolbar_background: rgba(255, 255, 255, 1);
$toolbar_text: black;

// //Home
// $home_text_color: #1c2950;

$yellow: #ffe500;
$yellow_border: #8d810f;

//Footer
$footer_background: #1d1d1d;
$rights_background: #2f2f2f;

//Admin
$admin_background_color: #fff;
$admin_toolbar_shadow: rgba(0, 0, 0, .15);
$admin_letter: rgba(0, 0, 0, 0.2);
$admin_letter_shadow: rgba(150, 150, 150, 1);

//Admin drawer
$drawer_background_color: #f2f2f2;
$drawer_shadow: rgba(0, 0, 0, .05);
$active_color: rgba(212, 212, 212, 0.6);
