@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@font-face {
    font-family: 'Muller';
    src: url('/assets/fonts/muller/MullerRegularItalic.woff2') format('woff2'), url('/assets/fonts/muller/MullerRegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('/assets/fonts/muller/MullerBoldItalic.woff2') format('woff2'), url('/assets/fonts/muller/MullerBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('/assets/fonts/muller/MullerBold.woff2') format('woff2'), url('/assets/fonts/muller/MullerBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('/assets/fonts/muller/MullerRegular.woff2') format('woff2'), url('/assets/fonts/muller/MullerRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
