.container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

mat-form-field {
    width: 300px;
}

h4{
    margin-bottom: 0;
}

h5{
    margin-top: 4px;
    font-weight: 500;
}

p{
    font-size: 13px;
}

#valid {
    color: green;
    font-size: 22px;
    font-weight: 800;
    margin: 20px 0;
}

#invalid {
    color: red;
    font-size: 22px;
    font-weight: 800;
    text-align: center;
    margin: 20px 0;
}

form {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    margin-bottom: 18px;
    margin-top: 18px;
    button[type=submit]{
        width: 300px;
    }

}

button.image-button {
    margin-right: 4px;
}

@media (max-width: 600px) {
    form{
        align-items: center;
    }
}
