@import '../../../../../stylesheets/variables';

div.worklog {
    border-bottom: solid 2px rgba(0, 0, 0, 0.05);
    max-width: 600px;
    padding-bottom: 10px;
    div.log {
        white-space: pre-line;
    }
}

h3{
    font-weight: 100;
}