<div class="login">
    <mat-card>
        <div class="flex">
            <div class="logo flex">

            </div>
            <div class="form">
                <mat-card-content>
                    <h1>
                        Вход
                    </h1>
                    <p>
                        Админ панел Квадратен Метър БГ
                    </p>
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <mat-form-field>
                            <input matInput formControlName="email" placeholder="Имейл..." autocomplete="email" #email>
                            <mat-error *ngIf="loginForm.controls.email.hasError('email')">
                                Невалиден имейл !
                            </mat-error>
                            <mat-error *ngIf="loginForm.controls.email.hasError('required')">
                                Полето е задължително !
                            </mat-error>
                            <mat-error *ngIf="loginForm.controls.email.hasError('maxlength')">
                                Максималната дължина е 255 !
                            </mat-error>
                            <mat-error *ngFor="let error of errors.email">
                                {{error}}
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput type="password" placeholder="Парола..." formControlName="password" autocomplete="off">
                            <mat-error *ngIf="loginForm.controls.password.hasError('minlength')">
                                Минималната дължина е  6 символа !
                            </mat-error>
                            <mat-error *ngIf="loginForm.controls.password.hasError('required')">
                                Полето е задължително !
                            </mat-error>
                            <mat-error *ngIf="loginForm.controls.password.hasError('maxlength')">
                                Максималната дължина е 255 символа !
                            </mat-error>
                            <mat-error *ngFor="let error of errors.password">
                                {{error}}
                            </mat-error>
                        </mat-form-field>
                        <button mat-raised-button color="primary" [disabled]="isSubmit">Вход</button>
                    </form>
                    <div class="actions text-center">
                        <a routerLink="/admin/forgotten-password">Забравена парола?</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </mat-card-content>
            </div>
        </div>
    </mat-card>
</div>