@import '../../../../stylesheets/variables';

div.box {

    width: 100%;
    margin: 20px auto 30px;
    position: relative;
    div.list {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: hidden;

        div.item {
            flex: 0 0 auto;
            width: 250px;
            text-align: left;
            cursor: pointer;
            border-radius: 8px;
            overflow: hidden;
            position: relative;

            &:not(:first-child) {
                margin-left: 20px;
            }

            img {
                border-radius: 2px;
            }

            img, a {
                user-select: none;
                -webkit-user-drag: none;
            }

            a{
                color: black;
                text-decoration: none;
                display: flex;
            }

            div.information {
                width: 100%;
                position: absolute;
                background-color: $yellow;
                bottom: 0px;
                padding: 12px;
                //top: -20px;

                &.person {
                    div {
                        text-align: right;
                        flex: 1;

                        h3 {
                            margin: 0;
                            font-weight: 300;
                        }
                    }
                }

                div:first-child {
                    font-size: 12px;
                    font-weight: 600;
                    white-space: pre;
                    flex: 1;
                    align-items: center;
                    display: flex;
                    justify-content: flex-start;
                    h3 {
                        margin: 0;
                        font-weight: bold;
                        font-size: 12px;
                        color: $white;
                    }
                }

                div:nth-child(2) {
                    flex: 1;
                    align-items: center;
                    display: flex;
                    justify-content: flex-end;
                    span {
                        margin: 0;
                        font-weight: 900;
                        font-size: 20px;
                        color: $white;
                    }

                }
            }
        }

    }

    div.prev {
        left: -75px;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
    }

    div.next {
        right: -75px;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
    }

    div.prev,
    div.next {
        position: absolute;
        width: 52px;
        height: 250px;
        z-index: 1;
        align-items: center;
        top: 0;
        display: flex;

        button {
            color: white;
            border-radius: 50%;
            cursor: pointer;
            width: 52px;
            height: 52px;
            display: flex;
            align-items: center;
            justify-content: center;

            i {
                color: $yellow;

                &::before {
                    font-size: 32px !important;
                }
            }
        }
    }

}

@media (max-width: 800px) {

    div.prev {
        left: -50px !important;
    }

    div.next {
        right: -50px !important;
    }

    div.list{
        overflow-x: auto !important;
    }
}

@media (max-width: 500px) {
    div.prev {
        left: 0px !important;
    }

    div.next {
        right: 0px !important;
    }

    div.list {
        max-width: calc(100% - 110px);
        margin: auto;
    }
}
