@import '../../../../stylesheets/variables';

mat-toolbar {
    display: flex;
    background-color: #fff;
    padding: 0 8px;
    position: relative;
    height: 56px;
    -webkit-box-shadow: 0 0 3px $admin_toolbar_shadow;
    box-shadow: 0 0 3px $admin_toolbar_shadow;
    z-index: 2;
    mat-icon{
        opacity: .7;
    }
    span {
        flex: 1 1 auto;
    }
    a.brand {
        height: 100%;
        align-items: center;
        padding-left: 20px;
        img {
            height: 80%;
            object-fit: contain;
        }
    }
    button.letter {
        background-color: $admin_letter;
        span.letter {
            color: white;
            font-size: 24px;
            font-weight: 400;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            text-align: center;
            text-shadow: 0 2px 1px $admin_letter_shadow;
            text-transform: uppercase;
        }
    }
}

mat-drawer-container {
    height: calc( 100vh - 56px);
    mat-drawer {
        width: 15rem;
        background: $drawer_background_color;
        -webkit-box-shadow: inset -0.5px 0 0 $drawer_shadow;
        box-shadow: inset -0.5px 0 0 $drawer_shadow;
        position: absolute;
        mat-icon{
            opacity: .7;
        }
        h5[mat-subheader] {
            font-size: 11px;
            padding-top: 0;
            padding-bottom: 0;
            margin: 5px 0 0 0;
        }
        mat-nav-list{
            mat-list-item{
                &.active{
                    background: $active_color;
                }
                span{
                    font-size: 13px;
                }
            }
            mat-divider{
                opacity: 0.3;
                margin-bottom: 15px;
            }
        }
    }
    mat-drawer-content{
        div.router-container {
            position: relative;
            padding: 25px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
