div.container {
    padding: 12px 24px;
    max-width: 1200px;
    margin: 12px auto 12px;

    &.card-container {

        div.flex-container {
            display: flex;
            mat-list{
                margin-left: 82px;
                div.list-header{
                    h4{
                        position: relative;
                        color: black;
                        font-size: 18px;
                        margin: 0 15px;
                        padding: 0 5px;
                        text-decoration: none;
                        cursor: pointer;
                        outline: none;
                        font-weight: 500;
                        display: inline-block;
                        &::before{
                            content: " ";
                            background-color: #ffd145;
                            width: 70%;
                            min-width: calc(100% - 15px);
                            height: 10px;
                            position: absolute;
                            bottom: 5px;
                            left: 0;
                        }
                        span{
                            position: relative;
                        }
                    }
                }
                span.promo{
                    font-weight: 600;
                    color: #f3bd1a;
                }
                div.code{
                    display: flex;
                    margin: 8px 0;
                    align-items: center;
                    justify-content: space-between;
                    &::before{
                        display: none;
                    }
                    button{
                        padding: 4px 8px;
                        border-radius: 4px;
                    }
                }
            }
        }

        div.flex-box {
            max-width: 400px;
            width: 100%;
        }

        div.card {
            margin: 18px 0;
            display: flex;
            flex-direction: column;
            min-height: 230px;
            padding: 20px;
            border-radius: 12px;
            border: solid 2px #606060;
            justify-content: space-between;

            div.code-box {
                display: flex;
                justify-content: center;
            }

            div.card-info {
                display: flex;
                justify-content: space-between;

                img {
                    align-self: flex-end;
                    margin-bottom: 10px;
                }

                div.card-number {
                    h3 {
                        margin: 5px 0;
                        font-size: 14px;
                        font-weight: 400;
                        text-align: center;
                    }

                    p {
                        margin: 5px 0;
                        font-size: 16px;
                        font-weight: 600;
                    }
                }
            }
        }

        button.exit {
            width: 100%;
            text-transform: uppercase;
            padding: 12px 0;
            border-radius: 8px;
            &.desktop{
                display: block;
            }
            &.mobile{
                display: none;
            }
        }
    }
}

.mat-mdc-list-item-icon {
    color: rgba(0, 0, 0, 0.54);
}

@media (max-width: 1000px) {
    button.exit {
        &.desktop{
            display: none !important;
        }
        &.mobile{
            display: block !important;
        }
    }
    div.flex-container{
        flex-direction: column;
        max-width: 400px;
        mat-list{
            margin-left: 0 !important;
            div.mat-mdc-subheader{
                margin-left: 0px !important;
            }
            div.mat-mdc-list-item-title{
                font-size: 15px !important;
            }
            mat-list-item.mat-mdc-list-item{
                padding: 0 !important;
            }
            h4{
                margin-left: 0px !important;
            }
        }
    }
}
@media (max-width: 800px) {
    div.container {
        margin: 12px 0 !important;
  
    }
}