@import '../../../../stylesheets/variables';

div.container {
    padding: 12px 24px;
    max-width: 1200px;
    margin: 12px auto 12px;

    .download{
        width: 100%;
        text-transform: uppercase;
        font-weight: 800;
        text-decoration: none;
        background-color: #ffd145;
        padding: 12px;
        border-radius: 8px;
        display: block;
        text-align: center;
        color: #000;
    }

    div.free{
        margin: 15px 0;
        div.text{
            margin: 8px 0;
        }
    }

    h2.free{
            align-self: flex-start;
    }

    &.card-container {

        div.flex-container {
            display: flex;
            flex-direction: column;
            max-width: 400px;

            mat-list {
                div.mat-mdc-subheader {
                    margin-left: 0px !important;
                }

                div.mat-mdc-list-item-title {
                    font-size: 15px !important;
                }

                mat-list-item.mat-mdc-list-item {
                    padding: 0 !important;
                }

                h4 {
                    margin-left: 0px !important;
                }

                div.list-header {
                    h4 {
                        position: relative;
                        color: black;
                        font-size: 18px;
                        margin: 0 15px;
                        padding: 0 5px;
                        text-decoration: none;
                        cursor: pointer;
                        outline: none;
                        font-weight: 500;
                        display: inline-block;

                        &::before {
                            content: " ";
                            background-color: #ffd145;
                            width: 70%;
                            min-width: calc(100% - 15px);
                            height: 10px;
                            position: absolute;
                            bottom: 5px;
                            left: 0;
                        }

                        span {
                            position: relative;
                        }
                    }
                }

                span.promo {
                    font-weight: 600;
                    color: #f3bd1a;
                }

                div.code {
                    display: flex;
                    margin: 8px 0;
                    align-items: center;
                    justify-content: space-between;

                    &::before {
                        display: none;
                    }

                    button {
                        padding: 4px 8px;
                        border-radius: 4px;
                    }
                }
            }
        }

        div.flex-box {
            max-width: 400px;
            width: 100%;
        }

        div.card {
            margin: 18px 0;
            display: flex;
            flex-direction: column;
            min-height: 230px;
            padding: 20px;
            border-radius: 12px;
            border: solid 2px #606060;
            justify-content: space-between;

            div.code-box {
                display: flex;
                justify-content: center;
            }

            div.card-info {
                display: flex;
                justify-content: space-between;

                img {
                    align-self: flex-end;
                    margin-bottom: 10px;
                }

                div.card-number {
                    h3 {
                        margin: 5px 0;
                        font-size: 14px;
                        font-weight: 400;
                        text-align: center;
                    }

                    p {
                        margin: 5px 0;
                        font-size: 16px;
                        font-weight: 600;
                    }
                }
            }
        }

        button.exit {
            width: 100%;
            text-transform: uppercase;
            padding: 12px 0;
            margin-top: 18px;
            border-radius: 8px;
            display: block;
        }

        button.show{
            background-color: #d5d9e5;
        }
    }
}

input {
    width: 100%;
    font-size: 14px;
    background-color: transparent;
    padding: 0px 15px 0 15px;
    height: 42px;
    color: #5a5a5a;
    border: solid 3px $yellow;
    box-sizing: border-box;
    border-radius: 2px;
    margin-bottom: 15px;

    &::placeholder {
        color: #5a5a5a;
        opacity: 0.6;
        font-size: 14px;
    }

    &:-ms-input-placeholder {
        color: #5a5a5a;
        opacity: 0.6;
        font-size: 14px;
    }

    &::-ms-input-placeholder {
        color: #5a5a5a;
        opacity: 0.6;
        font-size: 14px;
    }

    &:focus {
        outline: none;
    }
}

.mat-mdc-list-item-icon {
    color: rgba(0, 0, 0, 0.54);
}

@media (max-width: 800px) {
    div.container {
        margin: 12px 0 !important;

    }
}