<div class="container">
  <h2>{{ paymentReady ? 'Плащане' : 'Регистрация' }}</h2>
  <div id="error-message">
    <!-- Display error message to your customers here -->
  </div>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    *ngIf="!paymentReady"
  >
    <mat-form-field color="primary">
      <input
        matInput
        placeholder="Име"
        formControlName="firstName"
        autocomplete="off"
      >

    </mat-form-field>
    <mat-form-field color="primary">
      <input
        matInput
        placeholder="Фамилия"
        formControlName="lastName"
        autocomplete="off"
      >

    </mat-form-field>
    <mat-form-field color="primary">
      <input
        matInput
        placeholder="Email"
        formControlName="email"
        autocomplete="off"
        type="email"
      >
    </mat-form-field>

    <div>
      <p>
        Моля изберете фирмата към която работите.
      </p>
      <mat-form-field color="accent" appearance="outline">
        <mat-label>Фирма</mat-label>
        <mat-select formControlName="company">
          <mat-option *ngFor="let option of companies" [value]="option">
            <div>
              <span>
                {{ option.name }}
              </span>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <p>
        Моля изберете абонамент.
      </p>
      <mat-form-field color="accent" appearance="outline">
        <mat-label>Абонамент</mat-label>
        <mat-select formControlName="price">
          <mat-option *ngFor="let option of prices" [value]="option">
            <div>
              <span>
                {{ option.nickname }}
              </span>
              <span>{{ (option.unit_amount / 100).toFixed(2) }}лв</span>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button
      mat-raised-button
      type="submit"
    >Продължи
    </button>
  </form>
</div>

<div class="container">
  <form id="payment-form" (ngSubmit)="onStripePayment()">
    <div id="payment-element">
      <!-- Elements will create form elements here -->
    </div>
    <button mat-raised-button id="submit" *ngIf="paymentReady" style="margin-top: 12px;">Плащане</button>
  </form>
</div>

<div class="loader-container" *ngIf="busy">
  <div class="loader"></div>
</div>

<contacts-component id="contacts"></contacts-component>
<footer-component></footer-component>
