@import '../../../../stylesheets/variables';

video {
    object-fit: cover;
    max-width: 100%;
    max-height: calc(100vh - 84px);
}

div.container {
    div.company {
        margin: 40px 0;
        div {
            &:first-child {
                flex: 1;
            }

            &:nth-child(2) {
                flex: 1.5;
                padding-left: 20px;
                padding-top: 40px;

                h2 {
                    left: -80px;
                }

                p {
                    margin: 10px 0;
                    font-size: 14px;
                }
            }

            img {
                width: 100%;
                height: 249px;
            }
        }

        p.title {
            font-weight: 600;
            font-size: 18px;
        }
    }

    div.list-places {
        margin: 0 0 40px 0;

        div.view-all {
            text-align: center;

            a {
                font-size: 20px;
                font-weight: 600;
                cursor: pointer;
                color: black;
                text-decoration: none;

                &::before {
                    height: 10px !important;
                }
            }
        }
    }

    div.office {
        position: relative;

        img {
            width: 100%;
            height: 1100px;
        }

        h1 {
            font-size: 30px;
            color: white;
            position: absolute;
            text-align: center;
            background: rgba(0, 0, 0, 0.5);
            top: 45%;
            font-weight: 100;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            margin: 0;
            padding: 10px 0;
        }
    }

    div.team {
        padding-top: 60px;
    }

    &.faq {
        display: flex;
        justify-content: center;
        flex-direction: column;

        h2 {
            margin: 45px auto;
        }

        div.accordion {
            margin: 20px 0;
            padding-top: 50px;
            border-top: solid 2px #edb406;

            h3 {
                font-weight: 500;
                padding-left: 18px;
                padding-top: 8px;
            }

            div.image {
                flex: 1.2
            }

            mat-expansion-panel {
                box-shadow: initial;
                border-top: solid 1px #ddd;
                border-radius: 0;
                user-select: none;

                mat-panel-title {
                    font-size: 16px !important;
                }
            }
        }

    }

}

#companies{
    border-top: 2px solid #edb406 !important;
    padding-top: 40px;
}

h2.media {
    margin: 18px 0;
}

div.block {
    height: 60px;
    width: 100%;
    background: $yellow;
}

div.info-text {
    height: auto;
    padding: 5px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    display: none;
}

div.info {
    max-width: 1200px;
    margin: 0 auto 0;

    h3 {
        margin: 20px 0;
        color: #352b2c;
        text-align: center;
        font-size: 22px;
        line-height: 1.4rem;
        font-weight: 500;

        span {
            color: #1574f5;
        }
    }

    h2 {
        text-align: center !important;
    }

    div.list {
        margin: 30px 0;

        div.item {
            flex: 1;
            flex-direction: column;
            align-items: center;

            button {
                span {
                    position: absolute;
                    font-size: 14px;
                    color: white;
                    background-color: rgba(21, 116, 245, 0.9);
                    width: 35px;
                    height: 35px;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    font-weight: bold;
                    bottom: -10px;
                    left: 0;
                }
            }

            h4 {
                color: #352b2c;
                font-weight: 600;
                margin: 24px 0 12px 0;
                font-size: 18px;
            }

            p {
                margin: 5px;
                color: #666;
                font-size: 14px;
                max-width: 420px;
                text-align: center;
            }
        }
    }
}

mat-accordion {
    flex: 1.8;
}

mat-expansion-panel {
    box-shadow: unset;
    border-top: solid 1px #ddd;
    border-radius: 0;

    mat-panel-title {
        font-size: 18px;
        font-weight: 500;
    }

    &.mat-expanded {
        border-color: #ffd145;

        mat-expansion-panel-header {
            background-color: rgba(0, 0, 0, 0.03);
        }

        mat-panel-title {
            color: #ffd145;
            font-weight: 600;
            transition: ease 400ms;
        }

        span.mat-expansion-indicator {
            &::after {
                color: #ffd145 !important;
                transition: ease 400ms;
            }
        }
    }

    mat-expansion-panel-header {
        &:hover:not(.mat-expanded) {
            background-color: transparent;
        }
    }
}

@media (max-width: 1100px) {
    div.frame {
        height: 70% !important;
    }
}

@media (max-width: 1100px) {
    div.frame {
        height: 70% !important;
    }
}

@media (max-width: 1000px) {
    div.office {
        h1 {
            font-size: 24px !important;
            top: 35% !important;
        }
    }
}

@media (max-width: 970px) {
    div.frame {
        height: 70% !important;
    }

    video {
        object-fit: unset !important;
    }
}

@media (max-width: 800px) {

    #about-cover {
        display: none;
    }

    div.places {
        flex-direction: column !important;

        div.rent,
        div.sale {
            flex-direction: row !important;
            justify-content: center;
        }

        div.rent {
            margin-bottom: 50px !important;
        }

        div.sale {
            left: 0px !important;
        }
    }

    div.company {
        flex-direction: column;
        margin: 40px 20px !important;

        p {
            text-align: center;
        }

        div {
            img {
                height: auto !important;
            }

            h2 {
                left: 0 !important;
            }
        }
    }

    div.list-places {
        h2 {
            left: 10px !important;
        }
    }

    div.office {
        h1 {
            font-size: 22px !important;
            top: 30% !important;
        }
    }

    div.accordion {
        flex-direction: column;
        padding-top: 30px !important;

        div.image {
            margin-bottom: 30px;
        }
    }

    video {
        max-height: calc(var(--vh, 1vh) * 100 - 56px);
        height: calc(100vh - 56px);
    }

    div.info-text {
        font-size: 20px !important;
        width: 112%;
        margin-left: -6%;
        display: block;
    }

}

@media (max-width: 600px) {
    div.office {
        h1 {
            font-size: 18px !important;
            top: 25% !important;
        }
    }
}

@media (max-width: 500px) {
    div.places {
        padding-left: 10px !important;
    }

    div.office {
        img {
            height: 390px !important;
        }
    }
}