@import '../../../../stylesheets/variables';

div.container {
    div.banner {
        height: 55vh;
        max-height: 555px;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        padding-top: 15px;

        img {
            height: 100%;
            width: calc(100% - 180px);
            margin-left: 110px;
            margin-top: 15px;
        }

        div.frame {
            height: 85%;
            width: calc(100% - 200px);
            position: absolute;
            left: 110px;
            top: 25px;
            border-left: solid 18px $yellow;
            border-bottom: solid 18px $yellow;
            z-index: 3;

            h4 {
                writing-mode: tb-rl;
                transform: rotate(180deg);
                position: absolute;
                left: -28px;
                margin: 0;
                top: 5px;
                font-weight: 100;
                text-transform: uppercase;
                font-size: 14px;
                cursor: default;
            }

            &::before {
                content: "";
                position: absolute;
                height: 18px;
                width: 12px;
                background: $yellow;
                z-index: 1;
            }
        }
    }

    div.company {
        margin: 80px 0;

        div {
            &:first-child {
                flex: 1;
            }

            &:nth-child(2) {
                flex: 1.5;
                padding-left: 20px;
                padding-top: 10px;

                h2 {
                    left: -80px;
                }

                p {
                    margin: 10px 0;
                    font-size: 14px;
                }
            }

            img {
                width: 100%;
                height: 249px;
            }
        }
    }

    div.list-places {
        margin: 60px 0;

        h2 {
            left: 100px;
        }

        div.view-all {
            text-align: center;

            a {
                font-size: 16px;
                font-weight: 600;
                cursor: pointer;
                color: black;
                text-decoration: none;

                &::before {
                    height: 6px !important;
                }
            }
        }
    }

    div.office {
        position: relative;
        padding-top: 60px;

        img {
            width: 100%;
            height: 731px;
        }

        h1 {
            font-size: 30px;
            color: white;
            position: absolute;
            text-align: center;
            background: rgba(0, 0, 0, 0.5);
            top: 45%;
            font-weight: 100;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            margin: 0;
            padding: 10px 0;
        }
    }

    div.team {
        padding-top: 60px;
    }

    &.faq {
        display: flex;
        justify-content: center;
        flex-direction: column;

        h2 {
            margin: 45px auto;
        }

        div.accordion {
            margin: 20px 0;
            padding-top: 50px;
            border-top: solid 2px #edb406;

            h3{
                font-weight: 500;
                padding-left: 18px;
                padding-top: 8px;
            }

            div.image{
                flex: 1.2
            }

            mat-expansion-panel {
                box-shadow: initial;
                border-top: solid 1px #ddd;
                border-radius: 0;
                user-select: none;

                mat-panel-title {
                    font-size: 16px !important;
                }
            }
        }

    }

}

div.block {
    height: 60px;
    width: 100%;
    background: $yellow;
}

div.info {
    max-width: 1200px;
    margin: 80px auto 50px;

    h3 {
        margin: 20px 0;
        color: #352b2c;
        text-align: center;
        font-size: 22px;
        line-height: 1.4rem;
        font-weight: 500;

        span {
            color: #1574f5;
        }
    }

    h2 {
        text-align: center !important;
    }

    div.list {
        margin: 30px 0;

        div.item {
            flex: 1;
            flex-direction: column;
            align-items: center;

            button {
                span {
                    position: absolute;
                    font-size: 14px;
                    color: white;
                    background-color: rgba(21, 116, 245, 0.9);
                    width: 35px;
                    height: 35px;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    font-weight: bold;
                    bottom: -10px;
                    left: 0;
                }
            }

            h4 {
                color: #352b2c;
                font-weight: 600;
                margin: 24px 0 12px 0;
                font-size: 18px;
            }

            p {
                margin: 5px;
                color: #666;
                font-size: 14px;
                max-width: 420px;
                text-align: center;
            }
        }
    }
}

mat-accordion {
    flex: 1.8;
}

mat-expansion-panel {
    box-shadow: unset;
    border-top: solid 1px #ddd;
    border-radius: 0;

    mat-panel-title {
        font-size: 18px;
        font-weight: 500;
    }

    &.mat-expanded {
        border-color: #ffd145;

        mat-expansion-panel-header {
            background-color: rgba(0, 0, 0, 0.03);
        }

        mat-panel-title {
            color: #ffd145;
            font-weight: 600;
            transition: ease 400ms;
        }

        span.mat-expansion-indicator {
            &::after {
                color: #ffd145 !important;
                transition: ease 400ms;
            }
        }
    }

    mat-expansion-panel-header {
        &:hover:not(.mat-expanded) {
            background-color: transparent;
        }
    }
}

@media (max-width: 1000px) {
    div.banner {
        div.frame {
            height: 70% !important;
        }
    }

    div.office {
        h1 {
            font-size: 24px !important;
            top: 35% !important;
        }
    }
}

@media (max-width: 800px) {
    div.banner {
        height: 25vh !important;

        div.frame {
            height: 75% !important;
        }

        img {
            margin-left: 0px !important;
        }
    }

    #about-cover {
        display: none;
    }

    div.places {
        flex-direction: column !important;

        div.rent,
        div.sale {
            flex-direction: row !important;
            justify-content: center;
        }

        div.rent {
            margin-bottom: 50px !important;
        }

        div.sale {
            left: 0px !important;
        }
    }

    div.company {
        flex-direction: column;

        div {
            img {
                height: auto !important;
            }

            h2 {
                left: 0 !important;
            }
        }
    }

    div.list-places {
        h2 {
            left: 10px !important;
        }
    }

    div.office {
        h1 {
            font-size: 22px !important;
            top: 30% !important;
        }
    }

    div.accordion {
        flex-direction: column;
        padding-top: 30px !important;
        div.image{
            margin-bottom: 30px;
            justify-content: center;
        }
    }
}

@media (max-width: 600px) {
    div.office {
        h1 {
            font-size: 18px !important;
            top: 25% !important;
        }
    }
}

@media (max-width: 500px) {
    div.banner {
        height: 32vh !important;

        img {
            width: calc(100% - 60px) !important;
        }

        div.frame {
            left: 30px !important;
            width: 100% !important;
        }
    }

    div.places {
        padding-left: 10px !important;
    }

    div.office {
        img {
            height: 230px !important;
        }
    }
}