<form class="flex" [formGroup]="form" (ngSubmit)="submit()">

    <a class="profile-picture flex" (click)="addProfilePicture()">
        <img [src]=" ( profilePicture ? getProfilepicture() : '/assets/images/profile.jpg' ) | safeURL"
            [class.error]="profilePicture == null" alt="profile-pictre"/>
    </a>

    <div class="form flex">
        <mat-form-field>
            <mat-label>Длъжност</mat-label>
            <mat-select formControlName="position">
                <mat-option *ngFor="let item of positions | keyvalue" [value]="item.value.id">
                    {{item.value.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Роля</mat-label>
            <mat-select formControlName="role">
                <mat-option *ngFor="let item of roles | keyvalue" [value]="item.value.id">
                    {{item.value.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="text" placeholder="Име..." formControlName="firstname" autocomplete="firstname">
            <mat-error *ngIf="form.controls.firstname.hasError('required')">
                Полето е задължително !
            </mat-error>
            <mat-error *ngIf="form.controls.firstname.hasError('maxlength')">
                Максималната дължина е 255 символа !
            </mat-error>
            <mat-error *ngFor="let error of errors.firstname">
                {{error}}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="text" placeholder="Фамилия..." formControlName="lastname" autocomplete="lastname">
            <mat-error *ngIf="form.controls.lastname.hasError('required')">
                Полето е задължително !
            </mat-error>
            <mat-error *ngIf="form.controls.lastname.hasError('maxlength')">
                Максималната дължина е 255 символа !
            </mat-error>
            <mat-error *ngFor="let error of errors.lastname">
                {{error}}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="text" placeholder="Телефон..." formControlName="phone" autocomplete="phone">
            <mat-error *ngIf="form.controls.phone.hasError('required')">
                Полето е задължително !
            </mat-error>
            <mat-error *ngIf="form.controls.phone.hasError('maxlength')">
                Максималната дължина е 255 символа !
            </mat-error>
            <mat-error *ngFor="let error of errors.phone">
                {{error}}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="email" placeholder="Имейл..." autocomplete="email" #email>
            <mat-error *ngIf="form.controls.email.hasError('email')">
                Невалиден имейл !
            </mat-error>
            <mat-error *ngIf="form.controls.email.hasError('required')">
                Полето е задължително !
            </mat-error>
            <mat-error *ngIf="form.controls.email.hasError('maxlength')">
                Максималната дължина е 255 !
            </mat-error>
            <mat-error *ngFor="let error of errors.email">
                {{error}}
            </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="edit == false">
            <input matInput type="password" placeholder="Парола..." formControlName="password" autocomplete="off">
            <mat-error *ngIf="form.controls.password.hasError('minlength')">
                Минималната дължина е 6 символа !
            </mat-error>
            <mat-error *ngIf="form.controls.password.hasError('required')">
                Полето е задължително !
            </mat-error>
            <mat-error *ngIf="form.controls.password.hasError('maxlength')">
                Максималната дължина е 255 символа !
            </mat-error>
            <mat-error *ngFor="let error of errors.password">
                {{error}}
            </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="edit == false">
            <input matInput type="password" placeholder="Повтори парола..." formControlName="passwordConfirm"
                autocomplete="off">
            <mat-error *ngIf="form.controls.passwordConfirm.hasError('minlength')">
                Минималната дължина е 6 символа !
            </mat-error>
            <mat-error *ngIf="form.controls.passwordConfirm.hasError('required')">
                Полето е задължително !
            </mat-error>
            <mat-error *ngIf="form.controls.passwordConfirm.hasError('maxlength')">
                Максималната дължина е 255 символа !
            </mat-error>
            <mat-error *ngIf="form.errors && form.errors.passwordMismatch">
                Паролите не съвпадат !
            </mat-error>
            <mat-error *ngFor="let error of errors.passwordConfirm">
                {{error}}
            </mat-error>
        </mat-form-field>
    </div>

    <button mat-raised-button color="primary" [disabled]="isSubmit">{{ edit ? "Коригирай" : "Регистрирай"}}</button>
</form>