<div class="login">
    <mat-card>
        <div class="flex">
            <div class="logo flex">

            </div>
            <div class="form">
                <mat-card-content>
                    <h1>
                        Преустановяване на паролата
                    </h1>
                    <p>
                        Админ панел Квадратен Метър БГ
                    </p>
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <mat-form-field>
                            <input #password matInput type="password" placeholder="Парола..." formControlName="password"
                                autocomplete="off">
                            <mat-error *ngIf="form.controls.password.hasError('minlength')">
                                Минималната дължина е 6 символа !
                            </mat-error>
                            <mat-error *ngIf="form.controls.password.hasError('required')">
                                Полето е задължително !
                            </mat-error>
                            <mat-error *ngIf="form.controls.password.hasError('maxlength')">
                                Максималната дължина е 255 символа !
                            </mat-error>
                            <mat-error *ngFor="let error of errors.password">
                                {{error}}
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="password" placeholder="Потвърди нова парола..."
                                formControlName="passwordConfirm" autocomplete="off">
                            <mat-error *ngIf="form.controls.passwordConfirm.hasError('minlength')">
                                Минималната дължина е 6 символа !
                            </mat-error>
                            <mat-error *ngIf="form.controls.passwordConfirm.hasError('required')">
                                Полето е задължително !
                            </mat-error>
                            <mat-error *ngIf="form.controls.passwordConfirm.hasError('maxlength')">
                                Максималната дължина е 255 символа !
                            </mat-error>
                            <mat-error *ngIf="form.errors && form.errors.passwordMismatch">
                                Паролите не съвпадат !
                            </mat-error>
                        </mat-form-field>
                        <button mat-raised-button color="primary" [disabled]="isSubmit">Потвърди</button>
                    </form>
                    <div class="actions text-center">
                        <a routerLink="/admin/login">Вход?</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="success" *ngIf="result">
                        Вие успешно променихте Вашата парола !
                    </div>
                </mat-card-content>
            </div>
        </div>
    </mat-card>
</div>